$primary-color: #ffd404;


@mixin button($background: none, $border: none, $weight: none) {
    margin-right: 1vw;
    text-decoration: none;
    width: 100%;
    background-color: $background;
    color: black;
    font-weight: $weight;
    border: $border;
    padding: 0.5vw 2vw;
    border-radius: 5px;
}

@mixin judul($size: 60px, $background: black, $width: 40%) {
    h1 {
        font-size: $size;
        font-weight: bold;
        line-height: $size;

        span {
            color: $primary-color
        }
    }

    .line {
        margin: 0 auto;
        margin-top: 1.5vw;
        width: $width;
        background-color: $background;
        height: 0.3vw;
    }
}

.landingPage {
    height: 1000px;

    .navbar {
        z-index: 999;
        padding: 0 3%;
        position: fixed;
        top: 0;
        width: 100%;

        .tags {
            display: flex;
            margin: 10px 0;
        
            .tag {
                background-color: white;
                text-decoration: none;
                padding: 5px 10px;
                border: solid 1px $primary-color;
                color: $primary-color;
                border-radius: 20px;
                transition: 0.2s;
                font-weight: bold;
        
                &:hover {
                    background: $primary-color;
                    color: white;
                    border: 1px solid white;
                }
            }
        
            .tag+.tag {
                margin-left: 10px;
            }
        }

    }

    .header {
        display: flex;
        height: max-content;

        .sideLeft {
            padding-left: 6%;
            width: 50%;
            margin-top: 10vw;

            h1 {
                line-height: 6vw;
                font-size: 6vw;
                font-weight: bold;

                span {
                    color: $primary-color;
                }
            }

            .boldText {
                margin-top: 3vw;
                font-weight: bold;
                font-size: 1.6vw;
                line-height: 2.2vw;
            }

            .mainText {
                font-size: 1.3vw;
                line-height: 1.8vw;
            }

            .buttonItems {
                margin-top: 3vw;

                .button1 {
                    @include button($primary-color, none, bold);
                }

                .button2 {
                    @include button(white, 1px solid black);
                }
            }
        }

        .sideRight {
            width: 50%;

            img {
                width: 100%;
            }
        }
    }

    .temukan {
        padding: 6%;

        .top {
            display: flex;
            justify-content: space-between;

            .judul {
                @include judul()
            }

            .search {
                display: flex;
                margin-left: 4vw;
                width: 40%;
                height: max-content;
                padding: 0.3vw 1vw;
                background-color: white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                border-radius: 15px;

                .searchIcon {
                    width: 5%;
                    font-size: 2vw;
                    padding: 0.5vw;
                    cursor: pointer;
                    color: grey;
                }

                input {
                    width: 95%;
                    border: none;
                    height: 2vw;
                }

                input:focus {
                    outline: none;
                }
            }
        }

        .contentBox {
            padding: 1vw 2vw;
            margin-top: 3vw;
            border: 1px solid $primary-color;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(255, 212, 4, 0.2), 0 6px 20px 0 rgba(255, 212, 4, 0.19);

            .content {
                margin-top: 0;
                display: grid;
                grid-template-columns: auto auto auto auto auto auto auto;
                grid-gap: 2vw;
                width: 100%;

                .contentItem {
                    cursor: pointer;
                    text-align: center;

                    img {
                        height: 5vw;
                    }

                    p {
                        font-weight: bold;
                    }
                }
            }

            .selanjutnya {
                position: relative;
                height: 4vw;

                h5 {
                    font-weight: bold;
                    line-height: 1.2vw;
                    font-size: 1.2vw;
                    color: $primary-color;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                }
            }
        }
    }

    .memilih {
        padding: 0 6% 6%;

        .judul {
            @include judul(3vw, $primary-color);
            text-align: center
        }

        .subJudul {
            margin-top: 1vw;
            font-weight: bold;
            color: grey;
            font-size: 1.3vw;
            text-align: center;
        }

        .grid {
            margin-top: 3vw;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-gap: 2vw;

            .grid-items {
                display: flex;

                img {
                    width: 5.5vw;
                    height: 5.5vw;
                    object-fit: cover;
                }

                .isi-items {
                    margin-left: 1vw;

                    h5 {
                        font-weight: bold;
                        font-size: 1.5vw;
                    }

                    p {
                        color: grey;
                    }
                }
            }
        }
    }

    .langkah {
        padding: 0 6% 6%;
        display: flex;
        height: max-content;

        .sideLeft {
            width: 60%;

            .judul {
                display: flex;

                h1 {
                    margin-left: 2vw;
                    font-size: 3vw;
                    font-weight: bold;
                    line-height: 3.1vw;

                    span {
                        color: $primary-color
                    }
                }

                .line {
                    margin-top: 1.5vw;
                    width: 15%;
                    background-color: $primary-color;
                    height: 0.3vw;
                }
            }

            .grid {
                margin-top: 3vw;
                display: grid;
                grid-template-columns: auto auto;

                .grid-items {
                    display: flex;

                    .icon {
                        margin-right: 1vw;
                        color: $primary-color;
                        font-size: 2vw;
                    }
                }
            }
        }

        .sideRight {
            width: 40%;
            height: 500px;

            .box2{
                border-bottom-right-radius: 40px;
                z-index: -1;
                margin: 0 auto;
                margin-top: 2vw;
                width: 500px;
                height: 500px;
                background-color: $primary-color;
            }
            .box {
                z-index: 5;
                transform: translate(7%, -107%);
                
                width: 80%;
                height: 100%;

                .video-js {
                    display: block;
                    border-top-left-radius: 40px;
                    border-bottom-right-radius: 40px;
                    width: 100%;
                    height: 100%;
                }

                .vjs-poster {

                    border-radius: 40px;
                }
            }
        }
    }

    .populer {
        padding: 0 6% 6%;

        .judul {
            display: flex;

            h1 {
                margin-left: 2vw;
                font-size: 3vw;
                font-weight: bold;
                line-height: 3.1vw;

                span {
                    color: $primary-color
                }
            }

            .line {
                margin-top: 1.5vw;
                width: 5%;
                background-color: $primary-color;
                height: 0.3vw;
            }
        }

        .grid {

            margin-top: 3vw;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto auto;

            .gridItem {
                z-index: -1;
                width: 100%;
                padding: 0.5vw;

                .top {
                    display: flex;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 0.2vw;
                        margin-left: 0.2vw;
                    }

                    h6 {
                        font-size: 1.5vw;
                        line-height: 1.5vw;
                        font-weight: bold;
                    }

                    p {
                        font-size: 13px;
                        margin-top: 0;
                    }
                }

                h5 {
                    font-size: 1vw;
                }

                .contentImg {
                    padding: 0 20px;
                    margin-top: 1vw;
                    object-fit: cover;
                    height: 150px;
                }

                .bottom {
                    margin-top: 4vw;
                    height: 2vw;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .webpopuler {
        padding: 0 6% 6%;

        .judul {
            display: flex;

            h1 {
                margin-left: 2vw;
                font-size: 3vw;
                font-weight: bold;
                line-height: 3.1vw;

                span {
                    color: $primary-color
                }
            }

            .line {
                margin-top: 1.5vw;
                width: 5%;
                background-color: $primary-color;
                height: 0.3vw;
            }
        }

        .grid {

            margin-top: 3vw;
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto auto;

            .gridItem {
                z-index: -1;
                width: 100%;
                padding: 0.5vw;

                .top {
                    display: flex;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 0.2vw;
                        margin-left: 0.2vw;
                    }

                    h6 {
                        font-size: 1.5vw;
                        line-height: 1.5vw;
                        font-weight: bold;
                    }

                    p {
                        font-size: 13px;
                        margin-top: 0;
                    }
                }

                h5 {
                    font-size: 1vw;
                }

                .contentImg {
                    padding: 0 20px;
                    margin-top: 1vw;
                    object-fit: cover;
                    height: 150px;
                }

                .bottom {
                    margin-top: 4vw;
                    height: 2vw;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }

    .ulasan {

        padding: 0 6% 6%;

        .judul {
            @include judul(3vw, $primary-color, 20%);
            text-align: center
        }

        .grid {

            margin-top: 3vw;
            width: 100%;
            display: grid;
            grid-gap: 3vw;
            grid-template-columns: auto auto auto auto auto;

            .gridItem {
                border: none;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(255, 212, 4, 0.2), 0 6px 20px 0 rgba(255, 212, 4, 0.19);
                z-index: -1;
                width: 100%;
                padding: 0.5vw;

                .top {
                    display: flex;

                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 0.2vw;
                    }

                    h6 {
                        font-size: 1.5vw;
                        line-height: 1.5vw;
                        font-weight: bold;
                    }

                    p {
                        font-size: 13px;
                        margin-top: 0;
                    }
                }

                h5 {
                    font-size: 1vw;
                }

                .bottom {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 2vw;

                    img {
                        width: 30px;
                    }
                }

            }
        }
    }

    .partner {
        padding: 0 6%;

        .top {
            padding: 0 10%;

            h6 {
                text-align: center;
                font-size: 2vw;
                color: grey;

                span {
                    color: $primary-color;
                }
            }


        }
    }

    .isiPartner {
        margin-top: 3vw;
        width: 100%;

        img {
            width: 100%;
        }
    }

    .footer {
        margin-top: 10vw;
        background-color: $primary-color;
        width: 100%;
        height: 200px;
    }
}